.dropdown{
position: relative;
z-index: 1;
display: inline-block;
}
.dropdown_menu{
position: absolute;

top: cal(100% +.25rem);
background-color: white;
padding: .75rem;
border-radius: .25rem;
box-shadow: 0 2px 5px 0 rgb(0, 0, 0, .3);

display: none;

}
.dropdown_menu p{
    padding: 12px 16px;
}

.dropdown_menu p:hover {color: black; border-radius: 10px; cursor: pointer; background-color: #f1f1f1}


.dropdown:hover .dropdown_menu {display: block;}

.dropdown:hover .drop {background-color: #4b4d4b; border-radius: .25rem;}